<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Web Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container01">
        <h1>Anomaly Detection</h1>
        <p>Tag: {{ tag }}</p>
        <p>Images: {{ address }}</p>
        <a href="/" class="back-button">Go Back to Home</a>
        <div class="image-container">
            {% if images %}
            {% for image in images %}
            <img class="fade" src="{{ url_for('serve_image', filename= results_path + '/' + image) }}" alt="Image">
            {% endfor %}
            {% else %}
            <p>No images found in the selected folder.</p>
            {% endif %}
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                var slideIndex = 0;
                var slides = document.getElementsByClassName("fade");
                var intervalId;

                function showSlides() {
                    if (slides.length === 0) {
                        return;
                    }

                    slides[slideIndex].style.display = "none";
                    slideIndex = (slideIndex + 1) % slides.length;
                    slides[slideIndex].style.display = "block";

                    if (slideIndex === 0) {
                        clearInterval(intervalId); // Clear the interval after one round
                    }
                }

                intervalId = setInterval(showSlides, 2000); // Start the slideshow
            });
        </script>
    </div>
</body>
</html>
